.loader-layout {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  --gx-color-primary-50: var(--blue-main);
  background-color: rgba(white, 0.5);

  &::part(base) {
    border-width: 3px;
    width: 5em;
    height: 5em;
  }
}

.loader {
  &__centered {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__withoutBackground {
    background-color: var(--transparet);
  }
}

.loader-indicator {
  --gx-color-primary-50: var(--white);
  position: absolute;
  width: auto;
  height: auto;
  left: 7px;
  background-color: var(--transparet);

  &::part(base) {
    width: 1em;
    height: 1em;
  }
}
