.textarea {
  --gx-input-font-size-medium: 16px;
  --gx-input-border-radius-medium: 0;
  --gx-input-color: var(--color-default);
  --gx-input-font-family: var(--font-family);
  --gx-input-border-width: 2px;
  --gx-input-border-color: var(--border-color-default);
  --gx-input-border-color-hover: var(--border-color-hover);
  --gx-input-border-color-focus: var(--border-color-hover);

  --gx-focus-ring-box-shadow: var(--transparent);

  // label
  --gx-input-label-font-size-medium: 14px;
  --gx-input-label-color: var(--color-default);
  --gx-spacing-xxx-small: 7px;
  font-weight: 500;

  &::part(base) {
    padding: 0 10px;
    margin: 0;
    margin-top: -2px;
    height: calc(var(--rows) * 26.4px);
  }

  &::part(label) {
    font-weight: 500;
  }
}

.textarea[readonly]:not([readonly='false']),
.textarea[readonly]:not([readonly='false']):hover::part(base),
.textarea[readonly]:not([readonly='false']):focus::part(base) {
  --gx-input-border-color: var(--transparent);
  border-color: var(--transparent);
  cursor: default;
}
